block content 
    h1= "Productos"

    table 
        tr 
            th="ID"
            th="Producto" 
            th="Precio" 
        each item in items 
            tr 
                td=item.id
                td=item.title
                td=item.price 
                